<!-- Hero Element -->
<div class="hero">
<br />
<br />
	<div class="frosty col-xs-6 col-xs-offset-4 pull-right text-center">
		<h1>The Calendarist</h1>
		<br />
		<br />
		<h2>Enjoy life's experiences. <br />		
		Sit back and let a planner do the rest.</h2> 
		<br />
		<%= link_to 'Get Started', '#', :class => 'btn btn-success btn-lg' %>
	</div>
</div>

<!--Main Content -->
<div class="col-xs-10 col-xs-offset-1 features text-center">

MAIN CONTENT <br />

HOW IT WORKS 

<p>
	Lorem ipsum dolor sit amet, ea idque everti consulatu cum, dolores gubergren eam cu. Homero tincidunt sea id, tota corpora et est, qui id labores meliore conclusionemque. Vix vidisse denique atomorum ne. Lobortis indoctum consequuntur mea at, ignota latine an sed. Ne mentitum inimicus qui, ut sed lorem disputando omittantur, eu doming pertinacia pri.
</p>
<p>
	No dictas laoreet accumsan vel. Justo periculis mei id, pri liber doming gubergren ex, te accommodare signiferumque pri. Et soleat fabellas scribentur vim, ad mutat nonumes ocurreret pri, feugiat blandit voluptaria ea quo. Et vel elitr aliquando quaerendum, dolore mandamus sea ut.
</p>

</div>
<br class="clr" />