<!-- Hero Element -->
<div class="hero">
<br />
<br />
	<div class="frosty col-xs-6 col-xs-offset-4 pull-right text-center">
		<h1>The Calendarist</h1>
		<br />
		<br />
		<h2>Enjoy life's experiences. <br />		
		Sit back and let a planner do the rest.</h2> 
		<br />
		<%= link_to 'Get Started', '#', :class => 'btn btn-success btn-lg' %>
	</div>
</div>

<div class="body-center col-xs-12 text-center">
	<br />
	<h1> HOW IT WORKS </h1> 
	<br />
</div>

<div class="features col-xs-10 col-xs-offset-1 text-center">
	<div class="col-sm-4">
		<%= image_tag 'survey.png' %>
		<h2><br />1</h2>
		<p>Fill out a survey and help us get to know you and what sort of experiences you crave.</p>
	</div>

	<div class="col-sm-4">
		<%= image_tag 'calendar.png' %>
		<h2><br />2</h2>
		<p>Get a box of a unique NYC experience such as two tickets to an underground spa or a wine tasting along with samples from our favorite New York-based brands. Let us know which day works for you and your schedule and we will take care of the booking.</p>
	</div>

	<div class="col-sm-4">
		<%= image_tag 'social.png' %>
		<h2><br />3</h2>
		<p>Take your friend or significant other, pick a weekend, and enjoy the best of what NYC has to offer.</p> 
	</div> 
</div>
