<div class="hero">
<br />
<br />
	<div class="frosty col-xs-6 col-xs-offset-4 pull-right text-center">
		<h1>The Calendarist</h1>
		<br />
		<br />
		<h2>Enjoy life's experiences. <br />		
		Sit back and let a planner do the rest.</h2> 
		<br />
		<%= link_to 'Get Started', '#', :class => 'btn btn-success btn-lg' %>
	</div>
</div>
