<% @places.each do |place| %>
  <div class="big-box col-xs-10 col-xs-offset-1">
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br />
    <i><b><%= place.perfect_for %></i></b><br />
    <p><%= place.description %></p><br />
  </div>

<% end %>