<% @places.each do |place| %>
  <div>
    <h1><%= place.name %></h1><br />
    <i><%= place.address %></i><br />
    <i><b><%= place.perfect_for %></i></b><br />
    <p><%= place.description %></p><br />
  </div>

  <hr />
<% end %>